﻿@model IEnumerable<cinema.Models.Film>

@{
    ViewBag.Title = "Schedule";
}

<h2>Расписание</h2>

<div class="cinema_card_detail col-md-12 hidden" id="cinema_card_detail">
    
</div>
<div class="schedule schedule-center col-md-12" id="schedule">
    @foreach (var it in @Model)
    {
        @Html.Partial("_CinemaCard",it);        
    }
</div>