﻿.ad {
    min-height: 645px;
    padding-top: 100px;
    color: #4e3a21;

    .thumbnail {
        border: 0;
        background-color: transparent;

        .caption {
            padding: 0;
            text-align: center;

            .h2 {                
                margin: 30px auto;
                font-size: 1.875rem; /* Приближение из-за подстановки шрифтов */
                font-weight: 400;
                line-height: 0.6; /* Приближение из-за подстановки шрифтов */
                text-align: center;
            }

            p {
                margin: 30px auto;
                font-size: 1rem; /* Приближение из-за подстановки шрифтов */
                font-weight: 400;
                line-height: 1.375; /* Приближение из-за подстановки шрифтов */
                text-align: center;

                a.btn.btn-primary {
                    height: 45px;
                    width: 125px;
                    background-color: #DEDEDE;
                    opacity: 0.5;
                    line-height: 45px;
                    border: none;
                    padding: 0;
                    color: #4e3a21;
                    font-size: 1rem; /* Приближение из-за подстановки шрифтов */
                    font-weight: 400;
                    text-align: center;
                }
            }
        }
    }
}
