﻿
.feedback {
    background-image: url('/Content/asset/fon4.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 640px;
    color: @clr_white;
    padding: 60px 0;
    position: relative;

    .header-feedback {

        .h1 {
            margin: 30px auto;
            font-weight: bold;
        }

        p {
            margin: 30px auto;
        }
    }

    .feedbacks {
        /*width: 770px;*/
        margin: 65px auto 0;
        overflow: hidden;
        position: relative;

        input[type="radio"] {
            display: none;
        }

        .items {
            white-space: nowrap;
            position: relative;
            -moz-transition: all ease-in 3s;
            -o-transition: all ease-in 3s;
            -webkit-transition: all ease-in 3s;
            transition: all ease-in-out 600ms;
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);
            width: 100%;

            .item {
                display: inline-block;
                /*width: 720px;*/
                width: 100%;
                white-space: normal;
                /*margin: 0 25px;*/
                p {
                    font-size: 1.5em;
                    width: 720px;
                    margin: 0 auto;

                    &::before,
                    &::after {
                        font-size: 0.5em;
                        vertical-align: middle;
                        quotes: '\27e8\27e8' '\27e9\27e9';
                    }

                    &::before {
                        content: open-quote;
                    }

                    &::after {
                        content: close-quote;
                    }
                }

                .name {
                    font-size: 1.25em;
                    margin: 65px 0 20px;
                }

                .details {
                    opacity: 0.75;
                    margin: 20px 0 60px;
                }
            }
        }

        #feedback_1:checked ~ .items {
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        #feedback_2:checked ~ .items {
            -moz-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            /*transform: translateX(-770px);*/
        }

        #feedback_3:checked ~ .items {
            -moz-transform: translateX(-200%);
            -ms-transform: translateX(-200%);
            -o-transform: translateX(-200%);
            -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
            /*transform: translateX(-1540px);*/
        }

        label {
            margin: 0 5px;
            content: '';
            display: inline-block;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: @clr_white;
            opacity: 0.75;
        }

        #feedback_1:checked ~ label[for="feedback_1"],
        #feedback_2:checked ~ label[for="feedback_2"],
        #feedback_3:checked ~ label[for="feedback_3"] {
            background-color: #F59B29;
        }
    }
}