﻿
.film-card {
    border: 1px #F0F0F0 solid;
    border-radius: 5px;
    padding: 20px 20px 27px;
    background-size: contain;
    background-position: center top, center top;
    background-repeat: no-repeat, no-repeat;
    /*background-image: linear-gradient(top, rgba(240,240,240,0.2), rgba(240,240,240,0.3) 140px, rgba(240,240,240,0.99) 300px, #f0f0f0 100%);*/
    &:hover {
        background-image: -webkit-linear-gradient(top, transparent, rgba(240,240,240,0.3) 140px, rgba(240,240,240,0.99) 300px, #f0f0f0 100%);
    }

    header {
        min-height: 285px;
        position: relative;

        h3 {
            position: absolute;
            bottom: 0;
            color: #4E3A21;
        }
    }

    article {
        font-size: 14px;

        span {
            color: #077CBF;
        }

        .schedule {
            h4 {
                color: #4E3A21;
            }

            .time {
                width: 100%;
                -ms-flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                justify-content: flex-start;

                span {
                    color: #807260;
                    margin-right: 13px;
                }
            }
        }
    }

    a.button {
        display: inline-block;
        margin-top: 20px;
        background-color: #A8157D;
        line-height: 30px;
        width: 95px;
        height: 30px;
        color: white;
        padding-left: 20px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        text-decoration:none;

        &:hover {
            text-decoration: none;
        }
    }
}
