﻿footer.footer {
    background: url('/Content/asset/fon6.jpg');
    background-position: right top;
    background-size: cover;
    background-repeat: repeat-x;
    min-height: 225px;
    padding: 60px 0 50px;
    color: rgba(248,224,194,0.3);

    img {
        margin-bottom: 30px;
    }
}