﻿.hr {

    &-left::before, &-left:after {
        background-position: left;
    }

    &-center::before, &-center:after {
        background-position: center;
    }

    &-right::before, &-right:after {
        background-position: right;
    }

    &-sm::before, &-sm:after {
        margin: 15px 0;
    }

    &-md::before, &-md:after {
        margin: 30px 0;
    }

    &-before::before {
        content: '';
        display: block;
        min-height: 1px;
        background-image: url('/Content/asset/line1.png');
        background-repeat: no-repeat;
    }

    &-after::after {
        content: '';
        display: block;
        min-height: 1px;
        background-image: url('/Content/asset/line1.png');
        background-repeat: no-repeat;
    }


    &-lg::before {
        font-family: monospace;
        color: rgba(255,255,255,0.2);
        font-size: 18px;
        content: '\27e8\27e8  \27e9\27e9';
        font-weight:bold;
        position: absolute;
        left: 50%;
        -moz-transform: translate(-50%, 95px);
        -ms-transform: translate(-50%, 95px);
        -o-transform: translate(-50%, 95px);
        -webkit-transform: translate(-50%, 95px);
        transform: translate(-50%, 95px);
    }

    &-lg::after {
        content: '';
        display: block;
        height: 2px;
        width: 770px;
        margin: 65px auto;
        background-image: -webkit-linear-gradient(left,rgba(255,255,255,0.2), rgba(255,255,255,0.2) 355px, transparent 355px, transparent 418px, rgba(255,255,255,0.2) 418px, rgba(255,255,255,0.2) 100%);
        background-repeat: no-repeat;
    }
}
