﻿.icon {
    display: inline-block;

    &.icon-3d-md {
        &:after {
            position: relative;
            top: -15px;
            content: "";
            display: inline-block;
            min-width: 37px;
            min-height: 37px;
            margin-left: 15px;
            vertical-align: middle;
            border-radius: 50%;
            background-image: url('/Content/asset/3D.svg');
        }
    }

    &.icon-dropdown::after {
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: middle;
        display: inline-block;
        content: "";
        min-width: 30px;
        min-height: 30px;
        margin-left: 3px;
        background-image: url('/Content/asset/dropdown.png');
    }

    &.icon-before::before {
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: middle;
        display: inline-block;
        content: "";

        .icon-md& {
            min-height: 60pt;
            width: 70px;
            margin-right: 15px;

            .icon-timetable& {
                background-image: url('/Content/asset/timetable2.png');
            }

            .icon-favourite& {
                background-image: url('/Content/asset/favourite.png');
            }
        }

        .icon-sm& {
            min-width: 30px;
            min-height: 30px;
            margin-right: 3px;
            position: relative;
            top: -3px;

            .icon-home& {
                background-image: url("/Content/asset/home.png");
            }

            .icon-timetable& {
                background-image: url("/Content/asset/timetable_small.png");
            }

            .icon-contact& {
                background-image: url("/Content/asset/contacts_small.png");
            }

            .icon-profile& {
                background-image: url("/Content/asset/account.png");
            }

            .icon-log-in& {
                background-image: url("/Content/asset/logout.png");
            }

            .icon-logout& {
                background-image: url("/Content/asset/logout.png");
            }

            .icon-genre& {
                background-image: url("/Content/asset/genre.png");
            }

            .icon-country& {
                background-image: url("/Content/asset/country.png");
            }

            .icon-age& {
                background-image: url("/Content/asset/age.png");
            }

            .icon-locate& {
                background-image: url("/Content/asset/loc.png");
            }

            .icon-phone& {
                background-image: url("/Content/asset/tel.png");
            }

            .icon-mail& {
                background-image: url("/Content/asset/mail.png");
            }

            .icon-send& {
                background-image: url("/Content/asset/send.png");
            }

            .icon-film& {
                background-image: url("/Content/asset/genre2.png");
            }

            .icon-age-grey& {
                background-image: url("/Content/asset/age2.png");
            }

            .icon-time& {
                background-image: url("/Content/asset/time.png");
            }

            .icon-cinema& {
                background-image: url("/Content/asset/cinema2.png");
            }

            .icon-actors& {
                background-image: url("/Content/asset/actors.png");
            }

            .icon-directors& {
                background-image: url("/Content/asset/directors.png");
            }

            .icon-about-film& {
                background-image: url("/Content/asset/about_film.png");
            }

            .icon-comments& {
                background-image: url("/Content/asset/comments.png");
            }

            .icon-screens& {
                background-image: url("/Content/asset/screens.png");
            }

            .icon-trailer& {
                background-image: url("/Content/asset/trailer.png");
            }
        }
    }

    &.icon-after::after {
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: middle;
        display: inline-block;
        content: "";

        .icon-md& {
            min-height: 60pt;
            width: 70px;
            margin-left: 15px;

            .icon-timetable& {
                background-image: url('/Content/asset/timetable2.png');
            }

            .icon-favourite& {
                background-image: url('/Content/asset/favourite.png');
            }
        }

        .icon-sm& {
            min-width: 30px;
            min-height: 30px;
            margin-left: 3px;
            position: relative;
            top: -3px;

            .icon-home& {
                background-image: url("/Content/asset/home.png");
            }

            .icon-timetable& {
                background-image: url("/Content/asset/timetable_small.png");
            }

            .icon-contact& {
                background-image: url("/Content/asset/contacts_small.png");
            }

            .icon-profile& {
                background-image: url("/Content/asset/account.png");
            }

            .icon-log-in& {
                background-image: url("/Content/asset/logout.png");
            }

            .icon-logout& {
                background-image: url("/Content/asset/logout.png");
            }

            .icon-genre& {
                background-image: url("/Content/asset/genre.png");
            }

            .icon-country& {
                background-image: url("/Content/asset/country.png");
            }

            .icon-age& {
                background-image: url("/Content/asset/age.png");
            }

            .icon-locate& {
                background-image: url("/Content/asset/loc.png");
            }

            .icon-phone& {
                background-image: url("/Content/asset/tel.png");
            }

            .icon-mail& {
                background-image: url("/Content/asset/mail.png");
            }

            .icon-send& {
                background-image: url("/Content/asset/send.png");
            }

            .icon-film& {
                background-image: url("/Content/asset/genre2.png");
            }

            .icon-age-grey& {
                background-image: url("/Content/asset/age2.png");
            }

            .icon-time& {
                background-image: url("/Content/asset/time.png");
            }

            .icon-cinema& {
                background-image: url("/Content/asset/cinema2.png");
            }

            .icon-actors& {
                background-image: url("/Content/asset/actors.png");
            }

            .icon-directors& {
                background-image: url("/Content/asset/directors.png");
            }

            .icon-about-film& {
                background-image: url("/Content/asset/about_film.png");
            }

            .icon-comments& {
                background-image: url("/Content/asset/comments.png");
            }

            .icon-screens& {
                background-image: url("/Content/asset/screens.png");
            }

            .icon-trailer& {
                background-image: url("/Content/asset/trailer.png");
            }
        }
    }
}
