﻿@clr_black: rgba(0,0,0,1);
@clr_white: rgba(255,255,255,1);
@clr_tr: rgba(0,0,0,0);
@clr_orange: #f59b29;
@clr_grey: #a69c90;
@clr_purple: #a8157d;

header.main-header {
    font-size: 18px;
    line-height: 1.125;
    /*background-image: -webkit-linear-gradient(left, @clr_white, @clr_white 50%, @clr_orange 50%, @clr_orange 100%);*/
    .container {
        background-color: @clr_white;
        min-height: 130px;
        /*.left-part {*/
        padding-top: 40px;
        height: 130px;

        li {
            padding: 0;
            margin: 0 10px;
            height: auto;

            a {
                padding: 5px 10px;
                color: @clr_grey;
                line-height: 30px;

                &.active {
                    border-radius: 10px;
                    background-color: rgba(245, 155, 41,0.2);
                }

                &:hover {
                    border-radius: 10px;
                    background-color: rgba(245, 155, 41,0.2);
                }

                &:active {
                    background-color: @clr_tr;
                }

                &.icon-home {
                    color: @clr_purple;
                }
            }
        }
        /*li:hover a {
            border-radius: 10px;
            background-color: rgba(245, 155, 41,0.2);
        }*/
        /*}*/
        /*.right-part {
            padding-top: 40px;
            min-height: 130px;
            background-color: @clr_orange;

            .nav {
                text-align: justify;
            }

            li {
                padding: 0;
            }

            li:hover a {
                background-color: @clr_tr;
            }

            a {
                padding: 15px 5px;
                color: @clr_white;
            }
        }*/
    }
}
