﻿.main-slider {
    height: 726px;
    background-image: /*-webkit-linear-gradient(bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.3) 50%, transparent 50%, transparent 100%),*/ url('/Content/asset/fon1.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .slider {
        position: absolute;
        width: 100%;
        height: 363px;
        bottom: 0;
        background-image: -webkit-linear-gradient(bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.3) 100%);

        .col-md-2 {
            height: 363px;
            padding-top: 143px;

            .slider-button {
                border-radius: 50%;
                display: block;
                width: 70px;
                height: 70px;
                background: url('/Content/asset/left_slider.png') no-repeat center;

                &.left {
                }

                &.right {
                    float: right;
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                    border: 2px solid white;
                }
            }
        }

        .col-md-8 {
            height: 363px;

            span.title {
                position: relative;
                top: -10px;
                color: #ffffff;
                font-size: 5rem; /* Приближение из-за подстановки шрифтов */
                font-weight: 700;
                line-height: 0.225; /* Приближение из-за подстановки шрифтов */
            }

            p.description {
                color: #ffffff;
                font-size: 1.25rem; /* Приближение из-за подстановки шрифтов */
                font-weight: 400;
                line-height: 1.5; /* Приближение из-за подстановки шрифтов */
                text-align: center;
                opacity: 0.8;
                margin: 20px 0 47px;
            }

            .other {
                width: 100%;
                display: inline-flex;
                justify-content: space-between;
                margin-bottom: 43px;

                span {
                    color: #077cbf;
                    font-size: 1rem; /* Приближение из-за подстановки шрифтов */
                    font-weight: 400;
                    line-height: 1.875; /* Приближение из-за подстановки шрифтов */
                    text-align: center;
                }
            }

            a.button {
                display: inline-block;
                border-radius: 5px;
                border: 1px solid #a8157d;
                background-color: #a8157d;
                width: 176px;
                height: 49px;
                color: #ffffff;
                font-size: 1rem; /* Приближение из-за подстановки шрифтов */
                font-weight: 400;
                text-align: center;
                line-height: 49px;
                text-decoration: none;
                margin: 0 auto;

                &:hover{
                    text-decoration:none;
                }
            }
        }
    }
}
