﻿@clr_black: rgba(0,0,0,1);
@clr_white: rgba(255,255,255,1);
@clr_tr: rgba(0,0,0,0);
@clr_orange: #f59b29;
@clr_grey: #a69c90;
@clr_purple: #a8157d;

.questions {
    background-image: url('/Content/asset/fon5.jpg');
    background-position: right bottom;
    background-size: cover;
    background-repeat: repeat-x;
    min-height: 740px;
    padding: 60px 0 48px;
    color: @clr_white;

    .question-block {

        .header-question {
            width: 770px;
            margin: 0 auto;

            h1 {
                font-weight: bold;
                margin: 25px 0;
            }

            p {
                color: rgba(248,224,194,0.9);
                margin: 25px 0;
            }
        }

        .contact {
            color: rgba(248,224,194,0.9);
            font-size: 1.5em;
            margin: 25px 0 60px;
            padding: 35px 0;
            width: 100%;
            border-top: 2px solid rgba(248,224,194,0.9);
            border-bottom: 2px solid rgba(248,224,194,0.9);
            display: flex;
            justify-content: space-between;
        }

        .question-form {

            fieldset {
                height: 150px;
                margin-bottom: 30px;

                .col-md-6 {
                    padding: 0;

                    &:first-child {
                        padding-right: 25px;
                    }

                    &:last-child {
                        padding-left: 25px;
                    }

                    input[type="text"] {
                        background-color: rgba(248,224,194,0.9);
                        height: 55px;
                        border-radius: 5px;
                        width: 100%;
                        padding: 20px 25px;
                        font-size: 1.25em;

                        &:first-child {
                            margin-bottom: 38px;
                        }
                    }

                    textarea {
                        background-color: rgba(248,224,194,0.9);
                        width: 100%;
                        min-height: 150px;
                        max-height: 150px;
                        border-radius: 5px;
                        padding: 20px 25px;
                        font-size: 1.25em;
                    }
                }
            }

            .button {
                display: inline-block;
                height: 55px;
                width: 280px;
                background-color: #077CBF;
                border-radius: 5px;
                font-size: 1.25em;
                color: @clr_white;
                cursor: pointer;

                a {
                    line-height: 55px;
                    width: 100%;
                    color: @clr_white;

                    &:active {
                        box-shadow: 0 2px 5px rgba(255,255,255,0.5) inset;
                    }

                    &:hover {
                        color: @clr_white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}