﻿.recommended {
    .header-recommended {
        position: relative;
        min-height: 240px;
        background-image: url('/Content/asset/fon3.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        & > .container {
            position: relative;
            padding-top: 80px;
            min-height: 240px;

            .darth {
                min-height: 300px;
                width: 280px;
                position: absolute;
                left: 0;
                bottom: 0;
                background-image: url('/Content/asset/darth.png');
                background-position: center;
                background-repeat: no-repeat;
                z-index: 1;
            }

            & > .header {
                top: 0;
                left: 0;
                width: 100%;
                position: absolute;
                min-height: 240px;
                z-index: 100;
                padding-top: 80px;

                .title {
                    padding: 0;
                    vertical-align: middle;
                    display: inline-block;

                    h1 {
                        display: inline-block;
                        vertical-align: middle;
                        text-align:right;
                        line-height: 50px;
                        color: white;
                        margin: 0;
                        font-size: 2.5rem; /* Приближение из-за подстановки шрифтов */
                        font-weight: 700;
                        text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
                    }
                }
            }
        }

        /*span {
            position: relative;
            vertical-align: middle;
            width: 400px;
            line-height: 40px;
            font-size: 40px;
            color: white;
            margin: 0;
        }*/
    }

    .body-recommended {
        padding: 40px 0 77px;

        .film-cards {
            .col-md-3 {
                margin-bottom: 23px;
            }
        }
    }
}
