﻿
.timetable {

    .header-timetable {
        position: relative;
        min-height: 360px;
        background-image: url('/Content/asset/fon2.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;

        & > .container {
            position: relative;
            min-height: 360px;

            .ironman {
                min-height: 415px;
                width: 480px;
                position: absolute;
                right: 0;
                bottom: 0;
                background-image: url('/Content/asset/ironman.png');
                background-position: center;
                background-repeat: no-repeat;
                z-index: 1;
            }
        }

        & > .header {
            top: 0;
            left: 0;
            width: 100%;
            position: absolute;
            min-height: 240px;
            z-index: 100;
            padding-top: 80px;

            .title {
                padding: 0;
                vertical-align: middle;
                display: inline-block;

                h1 {
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 50px;
                    color: white;
                    margin: 0;
                    font-size: 2.5rem; /* Приближение из-за подстановки шрифтов */
                    font-weight: 700;
                    text-align: left;
                    text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
                }
            }
        }

        & > .filter {
            left: 0;
            bottom: 0;
            position: absolute;
            min-height: 120px;
            width: 100%;
            background-color: rgba(234, 160, 65, 0.8);
            z-index: 100;
            padding-top: 30px;

            .dropdown {
                width: 240px;
                display: inline-block;
                color: rgba(64, 64, 64, 0.5);
                font-size: 1rem; /* Приближение из-за подстановки шрифтов */
                font-weight: 400;
                line-height: 1.875; /* Приближение из-за подстановки шрифтов */
                text-align: left;

                input[type="checkbox"] {
                    display: none;

                    &:checked ~ ul {
                        display: block;
                    }
                }

                .btn-dropdown {
                    display: block;
                    height: 55px;
                    background-color: rgba(224, 224, 224, 0.8);
                    padding: 0;
                    line-height: 55px;
                    border-radius: 5px;

                    &::after {
                    }
                }

                .dropdown-menu {
                    width: 100%;
                    background-color: rgba(224, 224, 224, 0.9);
                    border-color: #E2D2BF;

                    li {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .body-timetable {
        padding: 40px 0 77px;

        .film-cards {
            display: inline-flex;
            /*justify-content: space-between;*/
            flex-grow: 1;
            width: 100%;
            -ms-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;

            .col-md-3 {
                margin-bottom: 23px;

                @import "film-card.less";
            }
        }
    }
}
