﻿@using cinema.Models
@model Film

@{
    ViewBag.Poster = Convert.ToBase64String(@Model.Poster ?? new byte[] { });
}

<div class="film-card" data-poster="data:image/jpg;base64,@ViewBag.Poster" style="background-image:-webkit-linear-gradient(top,  rgba(240,240,240,3), rgba(240,240,240,0.5) 140px, rgba(240,240,240,0.99) 300px, #f0f0f0 100%), url(data:image/jpg;base64,@ViewBag.Poster)" >
    <header class="header">
        <h3 class="hr-sm hr-left hr-after">@Model.FilmName</h3>
    </header>
    <article>
        <span class="icon icon-before icon-sm icon-genre">
            Жанр: @if (@Model.Tag.Count != 0)
            {@Model.Tag.First().TagName}
        </span><br />
        <span class="icon icon-before icon-sm icon-country">Страна: @Model.Country</span><br />
        <span class="icon icon-before icon-sm icon-age">Возрастное ограничение: @Model.AgeLimit.Age+</span>
        <div class="schedule">
            <h4>Время сеансов:</h4>
            <div class="time inline-flex">
                @foreach (Schedule it in Model.Schedule)
                {
                    <span>@it.ScheduleDate.ToString("HH:mm") </span>
                }
            </div>
        </div>
    </article>
    @Html.ActionLink("Купить", "Film","Home", new { id = Model.FilmID }, new { @class = "button", @title = "Купить билет" })
</div>
