﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Home page of site" />

    <title>My ASP.NET Application</title>

    @Styles.Render("~/Content/css/common")
    @RenderSection("styles", false)
</head>

<body>
    <header class="main-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    @*<div class="col-md-9 left-part">*@
                    <div class="navbar-header navbar-brand">
                        <a href="../Home/Index">
                            <img src="../../Content/asset/logo.png" />
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right navigation">
                            <li>@Html.ActionLink("Главная", "Index", "Home", new { @class = "icon icon-before icon-sm icon-home active" })</li>
                            <li>@Html.ActionLink("Расписание", "Index", "Schedule", new { @class = "icon icon-before icon-sm icon-timetable" })</li>
                            <li>@Html.ActionLink("Контакты", "About", "Home", new { @class = "icon icon-before icon-sm icon-contact" })</li>
                            <li>@Html.ActionLink("Расписание", "Contact", "Home", new { @class = "icon icon-before icon-sm icon-timetable" })</li>
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                    @*</div>*@
                    @*<div class="col-md-3 right-part">*@
                    @*@Html.Partial("_LoginPartial")*@
                    @*</div>*@
                </div>
            </div>
        </div>
    </header>
    <div class="body-content">
        @RenderBody()
    </div>

    <footer class="footer text-center">
        <img src="~/Content/asset/society.png" />
        <p>
            Компания "Киносеть"<br />
            Все права защищены, 2016
        </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/cta")
    @RenderSection("scripts", required: false)

</body>

</html>