﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        @*<ul class="nav navbar-nav navbar-left">*@
            <li>
                @Html.ActionLink("Ваш профиль", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "icon icon-before icon-sm icon-profile" })
            </li>
            <li><a class="icon icon-before icon-sm icon-logout" href="javascript:document.getElementById('logoutForm').submit()">Выход</a></li>
        @*</ul>*@
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-left">*@
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "icon-log-in" })</li>
    @*</ul>*@
}