﻿@model IEnumerable<cinema.Models.Film>

@{
    Layout = null;
}


@if (Model != null ? (Model.Count() > 0) : false)
{
    foreach (var it in @Model)
    {
        <div class="col-md-3">
            @Html.Partial("_CinemaCard", it)
        </div>
    }
}
else {
    <h1>Фильмы с выбранными параметрами отсутствуют!</h1>
}

<script type="text/javascript">

    $(document).ready(function () {
        $('.film-card').each(function () {
            $(this).mouseenter(function () {
                $(this).css("background-image", "-webkit-linear-gradient(top,  rgba(240,240,240,0), rgba(240,240,240,0.2) 140px, rgba(240,240,240,0.99) 300px, #f0f0f0 100%), url(" + $(this).data("poster") + ")");
            });
            $(this).mouseleave(function () {
                $(this).css("background-image", "-webkit-linear-gradient(top,  rgba(240,240,240,0.3), rgba(240,240,240,0.5) 140px, rgba(240,240,240,0.99) 300px, #f0f0f0 100%), url(" + $(this).data("poster") + ")");
            });
        });
    })
</script>
