﻿@model object[]

@using cinema.Models;

@{
    var film = (Film)(Model[0] ?? new Film());
    var ratings = (IEnumerable<Raiting>)(Model[1] ?? new List<Raiting>());
    var actors = (string)(Model[2] ?? "");
    var director = (string)(Model[3] ?? "");
    var schedule = (IEnumerable<Schedule>)(Model[4] ?? new List<Schedule>());
    var reviews = (IEnumerable<Review>)(Model[5] ?? new List<Review>());

    String duration = film.Length.Minutes.ToString();

    ViewBag.Title = film.FilmName;
}

@section styles
{
    @Styles.Render("~/Content/css/film")
}

<div class="about">
    <div class="about-film">
        <div class="bottom">
            <div class="container">
                <div class="col-md-7 description">
                    <h1 class="title icon icon-3d-md">@film.FilmName</h1>
                    @if (ratings.Count() > 0)
                    {<h3 class="rating"><span> @ratings.First().Resource.ResourceName: @ratings.First().Value</span><span>>@ratings.Last().Resource.ResourceName: @ratings.Last().Value</span></h3>}
                    <div class="common-info">
                        <div class="left">
                            <span class="icon icon-before icon-sm icon-genre">Жанр: комедия / боевик</span><br />
                            <span class="icon icon-before icon-sm icon-country">Страна: @film.Country</span><br />
                            <span class="icon icon-before icon-sm icon-age">Возрастное ограничение: @film.AgeLimit.Age</span>
                        </div>
                        <div class="right">
                            <span class="duration">@duration<br /> <small>мин</small></span>
                        </div>
                    </div>
                    <div class="actors-and-directors">
                        <div class="left">
                            <span class="icon icon-before icon-sm icon-actors"> Актеры:</span>
                            <p>@actors</p>
                        </div>
                        <div class="right">
                            <span class="icon icon-before icon-sm icon-directors"> Режисеры:</span>
                            <p>@director</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 purchase text-center">
                    <span class="left-top">
                        <svg>
                            <polygon points="10 10,10 0,0 10,10 10" fill="rgb(33, 88, 135)" />
                        </svg>  
                    </span>
                    <span class="right-top">
                        <svg>
                            <polygon points="0 0,10 10,0 10,0 0" fill="rgb(33, 88, 135)" />
                        </svg>  
                    </span>
                    <header>
                        <h2 class="purchase-ticket">Покупка билета</h2>
                    </header>
                    <article>
                        <div class="date">
                            <span class="left-button"></span>

                            <span class="text-center active">13<br /> <small>марта</small></span>
                            <span class="text-center">14<br /> <small>марта</small></span>
                            <span class="text-center">15<br /> <small>марта</small></span>

                            <span class="right-button"></span>
                        </div>
                        <div class="tab-timetable">
                            <div class="cinemas">
                                @*<span class="left-button"></span>*@

                                <span class="text-center active">Гигант</span>
                                <span class="text-center">Дружба</span>
                                <span class="text-center">Хабаровск</span>

                                @*<span class="right-button"></span>*@
                            </div>
                            <div class="timeboard">
                                <div class="boards">
                                    <table>
                                        <tr>
                                            <td>Малый зал</td>
                                            <td><time>09:20</time></td>
                                            <td><time>13:00</time></td>
                                            <td><time class="active">16:40</time></td>
                                            <td><time class="active">21:10</time></td>
                                        </tr>
                                        <tr>
                                            <td>Большой зал</td>
                                            <td><time>09:20</time></td>
                                            <td><time>13:00</time></td>
                                            <td><time>16:40</time></td>
                                            <td><time class="active">21:10</time></td>
                                        </tr>
                                        <tr>
                                            <td>Зал хроники</td>
                                            <td><time>09:20</time></td>
                                            <td><time class="active">13:00</time></td>
                                            <td><time class="active">16:40</time></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </article>
                    <input type="button" value="Купить билет" title="Покупка билета" />
                    <span class="left-bottom">
                        <svg>
                            <polygon points="0 0,10 0,10 10,0 0" fill="rgb(33, 88, 135)" />
                        </svg>  
                    </span>
                    <span class="right-bottom">
                        <svg>
                            <polygon points="0,10 0,0 10,0" fill="rgb(33, 88, 135)" />
                        </svg>  
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="additional-info">
        <div class="container">
            <div class="col-md-7 description">
                <h2 class="icon icon-before icon-sm icon-about-film h-description">Описание фильма</h2>
                <p>
                    @film.Description
                </p>
                <h2 class="icon icon-before icon-sm icon-trailer h-trailer">Трейлер фильма</h2>
                <iframe width="560" height="315" src="@film.UrlTrailer" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-5 thumbnails text-center">
                <h2 class="icon icon-before icon-sm icon-screens">Кадры фильма</h2>
            </div>
        </div>
    </div>
</div>
<div class="reviews">
    <div class="reviews-header">
        <div class="container">
            <div class="col-md-12">
                <h2 class="icon icon-before icon-sm icon-comments h-comments">Рецензии и комментарии к фильму "Зверополис"</h2>
            </div>
        </div>
    </div>
    <div class="reviews-body">
        <div class="container">

            @foreach (var review in reviews)
            {

            <div class="col-md-4">
                <div class="review-card text-left">
                    <header>
                        <time> @review.Date.ToLongDateString()</time><br />
                        <span class="username">anonymous</span>
                    </header>
                    <article>
                        <h3>@review.Title</h3>
                        <p>
                            @review.Description
                        </p>
                        <input type="button" value="Развернуть" />
                    </article>
                </div>
            </div>

            }

@if (reviews.Count() < 1)
{
            <div class="col-md-4">
                <div class="review-card text-left">
                    <header>
                        <time>11 марта 2016</time><br />
                        <span class="username">anonymous</span>
                    </header>
                    <article>
                        <h3>А король-то голый!</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <input type="button" value="Развернуть" />
                    </article>
                </div>
            </div>
            <div class="col-md-4">
                <div class="review-card text-left">
                    <header>
                        <time>11 марта 2016</time><br />
                        <span class="username">anonymous</span>
                    </header>
                    <article>
                        <h3>А король-то голый!</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <input type="button" value="Развернуть" />
                    </article>
                </div>
            </div>
            <div class="col-md-4">
                <div class="review-card text-left">
                    <header>
                        <time>11 марта 2016</time><br />
                        <span class="username">anonymous</span>
                    </header>
                    <article>
                        <h3>А король-то голый!</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <input type="button" value="Развернуть" />
                    </article>
                </div>
            </div>
}
        </div>
    </div>
</div>

