﻿@model object[]
@using cinema.Models;

@{
    ViewBag.Title = "Home Page";

    IEnumerable<Cinema>
    cinemas = null;
    IEnumerable<Tag>
        tags = null;
    IEnumerable<AgeLimit>
        ages = null;

    if (Model != null)
    {
        cinemas = (IEnumerable<Cinema>
            )Model[0];
        tags = (IEnumerable<Tag>
            )Model[1];
        ages = (IEnumerable<AgeLimit>
            )Model[2];
    }

}

@section styles{
    @Styles.Render("~/Content/css/home")
    <style type="text/css">
    </style>
}

<div class="main-slider">
    <div class="slider">
        <div class="container">
            <div class="col-md-2">
                <span id="slider_left" class="slider-button left"> </span>
            </div>
            <div class="col-md-8 text-center">
                <span class="title">Боги Египта</span>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
                </p>
                <div class="other">
                    <span class="icon icon-before icon-sm icon-genre">Жанр: Заглушка</span>
                    <span class="icon icon-before icon-sm icon-country">Страна: США</span>
                    <span class="icon icon-before icon-sm icon-age">Возрастное ограничение: 18+</span>
                </div>
                <a class="button" href="#">Купить</a>
            </div>
            <div class="col-md-2">
                <span id="slider_right" class="slider-button right"> </span>
            </div>
        </div>
    </div>
</div>
<div class="ad">
    <div class="container">
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="thumbnail-image text-center hr-after hr-md hr-center">
                    <img src="~/Content/asset/gift.png" alt="gift" />
                </div>
                <div class="caption">
                    <h2>Открытые билеты</h2>
                    <p class="hr-after hr-md hr-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex minima a numquam vero sint, maiores cum eum incidunt accusantium aliquid veniam ab inventore tempore deserunt vel architecto eos dicta ipsa.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Подробнее</a> </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="thumbnail-image text-center hr-after hr-md hr-center">
                    <img src="~/Content/asset/tickets.png" alt="tickets" />
                </div>
                <div class="caption">
                    <h2>Бронирование</h2>
                    <p class="hr-after hr-md hr-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias sit natus suscipit corrupti! Magni laboriosam magnam, necessitatibus tempora esse eveniet facere sit dolore consequuntur qui iste consectetur quasi itaque reprehenderit!</p>
                    <p><a href="#" class="btn btn-primary" role="button">Подробнее</a> </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="thumbnail-image text-center hr-after hr-md hr-center">
                    <img src="~/Content/asset/cinema.png" alt="cinema" />
                </div>
                <div class="caption">
                    <h2>Наши кинотеатры</h2>
                    <p class="hr-after hr-md hr-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium labore, corporis eum minus, nobis at ea. Quaerat tempore asperiores quas magnam minus commodi sunt. Possimus laudantium laboriosam deserunt rerum molestias.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Подробнее</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="timetable">
    <div class="header-timetable">
        <div class="container">
            <div class="ironman">
            </div>
        </div>
        <header class="header">
            <div class="container">
                <div class="title icon icon-before icon-md icon-timetable">
                    <h1>Расписание фильмов<br /> на 3 марта</h1>
                </div>
            </div>
        </header>
        <div class="filter">
            <div class="container">
                <div class="col-md-3 text-center">
                    <div class="dropdown">
                        <input id="check_genre" type="checkbox" />
                        <label id="genre" for="check_genre" class="btn btn-dropdown icon icon-before icon-sm icon-film icon-dropdown" data-value="0">Выберете жанр</label>
                        <ul id="dropdown_genre" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            @if (tags != null)
                            {
                                foreach (var it in tags)
                                {
                                    <li><a data-value="@it.TagID">@it.TagName</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div class="dropdown">
                        <input id="check_cinema" type="checkbox" />
                        <label id="cinema" for="check_cinema" class="btn btn-dropdown icon icon-before icon-sm icon-cinema icon-dropdown" data-value="0">Кинотеатр</label>
                        <ul id="dropdown_cinema" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            @if (cinemas != null)
                            {
                                foreach (var it in cinemas)
                                {
                                    <li><a data-value="@it.CinemaID">@it.CinemaName</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div class="dropdown">
                        <input id="check_date" type="checkbox" />
                        <label id="date" for="check_date" class="btn btn-dropdown icon icon-before icon-sm icon-time icon-dropdown" data-value="2016-03-18">Выберете дату</label>
                        <ul id="dropdown_date" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a data-value="2016-03-18">2016-03-18</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div class="dropdown">
                        <input id="check_age" type="checkbox" />
                        <label id="age" for="check_age" class="btn btn-dropdown icon icon-before icon-sm icon-age-grey icon-dropdown" data-value="0">Выберете возраст</label>
                        <ul id="dropdown_age" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            @if (ages != null)
                            {
                                foreach (var it in ages)
                                {
                                    <li><a data-value="@it.AgeLimitID">@it.Age+</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="body-timetable">
        <div class="container">
            <div id="timetable" class="film-cards">

            </div>
        </div>
    </div>
</div>


<div class="recommended">
    <div class="header-recommended">
        <div class="container">
            <div class="darth">
            </div>

            <header class="header">
                <div class="container">
                    <div class="title icon icon-after icon-md icon-favourite text-right pull-right">
                        <h1 class="text-right">Рекомендуемые<br /> к просмотру фильмы</h1>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="body-recommended">
        <div class="container">
            <div class="film-cards">
                <div class="col-md-3">
                    <div class="film-card" data-poster="assert/fon1.jpg" style="background-image:-webkit-linear-gradient(top,  rgba(240,240,240,0.3), rgba(240,240,240,0.5) 140px, rgba(240,240,240,0.99) 300px, #f0f0f0 100%), url('data:image/jpg;base64,@ViewBag.Poster')">
                        <header class="header">
                            <h3 class="hr-sm hr-left hr-after">Зверополис</h3>
                        </header>
                        <article>
                            <span class="icon icon-before icon-sm icon-genre">Жанр: Заглушка</span><br />
                            <span class="icon icon-before icon-sm icon-country">Страна: США</span><br />
                            <span class="icon icon-before icon-sm icon-age">Возрастное ограничение: 18+</span>
                        </article>
                        <input type="button" title="Купить билет" value="Купить" accept="" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="film-card" data-poster="assert/fon1.jpg" style="background-image:-webkit-linear-gradient(top,  rgba(240,240,240,0.3), rgba(240,240,240,0.5) 140px, rgba(240,240,240,0.99) 300px, #f0f0f0 100%), url('data:image/jpg;base64,@ViewBag.Poster')">
                        <header class="header">
                            <h3 class="hr-sm hr-left hr-after">Зверополис</h3>
                        </header>
                        <article>
                            <span class="icon icon-before icon-sm icon-genre">Жанр: Заглушка</span><br />
                            <span class="icon icon-before icon-sm icon-country">Страна: США</span><br />
                            <span class="icon icon-before icon-sm icon-age">Возрастное ограничение: 18+</span>
                        </article>
                        <input type="button" title="Купить билет" value="Купить" accept="" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="film-card" data-poster="assert/fon1.jpg" style="background-image:-webkit-linear-gradient(top,  rgba(240,240,240,0.3), rgba(240,240,240,0.5) 140px, rgba(240,240,240,0.99) 300px, #f0f0f0 100%), url('data:image/jpg;base64,@ViewBag.Poster')">
                        <header class="header">
                            <h3 class="hr-sm hr-left hr-after">Зверополис</h3>
                        </header>
                        <article>
                            <span class="icon icon-before icon-sm icon-genre">Жанр: Заглушка</span><br />
                            <span class="icon icon-before icon-sm icon-country">Страна: США</span><br />
                            <span class="icon icon-before icon-sm icon-age">Возрастное ограничение: 18+</span>
                        </article>
                        <input type="button" title="Купить билет" value="Купить" accept="" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="film-card" data-poster="assert/fon1.jpg" style="background-image:-webkit-linear-gradient(top,  rgba(240,240,240,0.3), rgba(240,240,240,0.5) 140px, rgba(240,240,240,0.99) 300px, #f0f0f0 100%), url('data:image/jpg;base64,@ViewBag.Poster')">
                        <header class="header">
                            <h3 class="hr-sm hr-left hr-after">Зверополис</h3>
                        </header>
                        <article>
                            <span class="icon icon-before icon-sm icon-genre">Жанр: Заглушка</span><br />
                            <span class="icon icon-before icon-sm icon-country">Страна: США</span><br />
                            <span class="icon icon-before icon-sm icon-age">Возрастное ограничение: 18+</span>
                        </article>
                        <input type="button" title="Купить билет" value="Купить" accept="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="feedback">
    @*<div class="container">
    *@
    <div class="feedback-block text-center">
        <header class="header-feedback">
            <div class="thumbnail-image text-center">
                <img src="~/Content/asset/reviews.png" alt="gift" />
            </div>
            <h1 class="hr-lg text-center">Отзывы о наших услугах</h1>
        </header>
        <div class="feedbacks">
            <input id="feedback_1" name="feedback" type="radio" checked />
            <input id="feedback_2" name="feedback" type="radio" />
            <input id="feedback_3" name="feedback" type="radio" />
            <div class="items">
                <div class="item text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex minima a numquam vero sint, maiores cum eum incidunt accusantium aliquid veniam ab inventore tempore deserunt vel architecto eos dicta ipsa.</p>
                    <div class="name">Иван Иванов</div>
                    <div class="details">студент, 20 лет</div>
                </div>
                <div class="item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex minima a numquam vero sint, maiores cum eum incidunt accusantium aliquid veniam ab inventore tempore deserunt vel architecto eos dicta ipsa.</p>
                    <div class="name">Иван Иванов</div>
                    <div class="details">студент, 20 лет</div>
                </div>
                <div class="item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex minima a numquam vero sint, maiores cum eum incidunt accusantium aliquid veniam ab inventore tempore deserunt vel architecto eos dicta ipsa.</p>
                    <div class="name">Иван Иванов</div>
                    <div class="details">студент, 20 лет</div>
                </div>
            </div>
            <label for="feedback_1"></label>
            <label for="feedback_2"></label>
            <label for="feedback_3"></label>
        </div>
    </div>
    @*
        </div>*@
</div>


<div class="questions">
    <div class="container">
        <div class="question-block text-center">
            <header class="header-question">
                <div class="thumbnail-image text-center">
                    <img src="~/Content/asset/questions.png" alt="gift" />
                </div>
                <h1>Остались еще вопросы</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex minima a numquam vero sint, maiores cum eum incidunt accusantium aliquid veniam ab inventore tempore deserunt vel architecto eos dicta ipsa.</p>
            </header>
            <div class="contact">
                <span class="icon icon-before icon-sm icon-locate">г. Хабаровск, ул. Ленина, 53</span>
                <span class="icon icon-before icon-sm icon-phone">Наш телефон: 8 (4121) 405 605</span>
                <span class="icon icon-before icon-sm icon-mail">Почта: superkursach@oprushko.ru</span>
            </div>
            <form class="question-form text-right">
                <fieldset>
                    <div class="col-md-6">
                        <input type="text" placeholder="Ваше имя" />
                        <input type="text" placeholder="Ваш email" />
                    </div>
                    <div class="col-md-6">
                        <textarea placeholder="Ваше сообщение"></textarea>
                    </div>
                </fieldset>
                <span class="button text-center">
                    <a class="icon icon-before icon-sm icon-send" role="button">Отправить</a>
                </span>
            </form>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            ajaxLoadTimetable();

            $("#dropdown_date>li").click(function () {
                $("#date").data("value", $(event.target).data("value"));
                $("#date").html($(this).html());

                ajaxLoadTimetable();
            });

            $("#dropdown_age>li").click(function () {
                $("#age").data("value", $(event.target).data("value"));
                $("#age").html($(this).html());

                ajaxLoadTimetable();

            });

            $("#dropdown_cinema>li").click(function () {
                $("#cinema").data("value", $(event.target).data("value"));
                $("#cinema").html($(this).html());

                ajaxLoadTimetable();
            });

            $("#dropdown_genre>li").click(function () {

                $("#genre").data("value", $(event.target).data("value"));
                $("#genre").html($(this).html());

                ajaxLoadTimetable();
            });


            function ajaxLoadTimetable() {
                $.ajax({
                    url: '/Home/Timetable',
                    data: {
                        date: (new Date($("#date").data("value"))).toISOString(),
                        limit: $("#age").data("value"),
                        cinema: $("#cinema").data("value"),
                        tag: $("#genre").data("value")
                    },
                    success: function (data) {
                        $('#timetable').html(data);
                    }
                });
            }
        })
    </script>
}
