﻿//@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,cyrillic,cyrillic-ext,latin-ext);

/* cyrillic */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 100;
    src: url(/fonts/RobotoSlab-Thin.ttf);
}
/* cyrillic */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/RobotoSlab-Light.ttf);
}
/* cyrillic */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/RobotoSlab-Regular.ttf);
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/RobotoSlab-Bold.ttf);
}

body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
time,
mark,
table,
tr,
td,
ul,
li,
ol,
p {
    font-family: 'Roboto Slab' !important;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

.container {
    padding: 0;
}

.body-content {
}

.dl-horizontal dt {
    white-space: normal;
}

.inline-flex {
    display: inline-flex;
}

input, textarea {
    outline: none;
    border: none;
}

div, span {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* main-header */
@import "less/main-header.less";
/* footer */
@import "less/footer.less";

/* icons */
@import "less/icons.less";
/* hr */
@import "less/hr.less";
