﻿/* cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/RobotoSlab-Thin.ttf);
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoSlab-Light.ttf);
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoSlab-Regular.ttf);
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoSlab-Bold.ttf);
}
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
time,
mark,
table,
tr,
td,
ul,
li,
ol,
p {
  font-family: 'Roboto Slab' !important;
}
html,
body {
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}
.container {
  padding: 0;
}
.dl-horizontal dt {
  white-space: normal;
}
.inline-flex {
  display: inline-flex;
}
input,
textarea {
  outline: none;
  border: none;
}
div,
span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* main-header */
header.main-header {
  font-size: 18px;
  line-height: 1.125;
  /*background-image: -webkit-linear-gradient(left, @clr_white, @clr_white 50%, @clr_orange 50%, @clr_orange 100%);*/
}
header.main-header .container {
  background-color: #ffffff;
  min-height: 130px;
  /*.left-part {*/
  padding-top: 40px;
  height: 130px;
  /*li:hover a {
            border-radius: 10px;
            background-color: rgba(245, 155, 41,0.2);
        }*/
  /*}*/
  /*.right-part {
            padding-top: 40px;
            min-height: 130px;
            background-color: @clr_orange;

            .nav {
                text-align: justify;
            }

            li {
                padding: 0;
            }

            li:hover a {
                background-color: @clr_tr;
            }

            a {
                padding: 15px 5px;
                color: @clr_white;
            }
        }*/
}
header.main-header .container li {
  padding: 0;
  margin: 0 10px;
  height: auto;
}
header.main-header .container li a {
  padding: 5px 10px;
  color: #a69c90;
  line-height: 30px;
}
header.main-header .container li a.active {
  border-radius: 10px;
  background-color: rgba(245, 155, 41, 0.2);
}
header.main-header .container li a:hover {
  border-radius: 10px;
  background-color: rgba(245, 155, 41, 0.2);
}
header.main-header .container li a:active {
  background-color: rgba(0, 0, 0, 0);
}
header.main-header .container li a.icon-home {
  color: #a8157d;
}
/* footer */
footer.footer {
  background: url('/Content/asset/fon6.jpg');
  background-position: right top;
  background-size: cover;
  background-repeat: repeat-x;
  min-height: 225px;
  padding: 60px 0 50px;
  color: rgba(248, 224, 194, 0.3);
}
footer.footer img {
  margin-bottom: 30px;
}
/* icons */
.icon {
  display: inline-block;
}
.icon.icon-3d-md:after {
  position: relative;
  top: -15px;
  content: "";
  display: inline-block;
  min-width: 37px;
  min-height: 37px;
  margin-left: 15px;
  vertical-align: middle;
  border-radius: 50%;
  background-image: url('/Content/asset/3D.svg');
}
.icon.icon-dropdown::after {
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  content: "";
  min-width: 30px;
  min-height: 30px;
  margin-left: 3px;
  background-image: url('/Content/asset/dropdown.png');
}
.icon.icon-before::before {
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  content: "";
}
.icon-md.icon.icon-before::before {
  min-height: 60pt;
  width: 70px;
  margin-right: 15px;
}
.icon-timetable.icon-md.icon.icon-before::before {
  background-image: url('/Content/asset/timetable2.png');
}
.icon-favourite.icon-md.icon.icon-before::before {
  background-image: url('/Content/asset/favourite.png');
}
.icon-sm.icon.icon-before::before {
  min-width: 30px;
  min-height: 30px;
  margin-right: 3px;
  position: relative;
  top: -3px;
}
.icon-home.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/home.png");
}
.icon-timetable.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/timetable_small.png");
}
.icon-contact.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/contacts_small.png");
}
.icon-profile.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/account.png");
}
.icon-log-in.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/logout.png");
}
.icon-logout.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/logout.png");
}
.icon-genre.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/genre.png");
}
.icon-country.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/country.png");
}
.icon-age.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/age.png");
}
.icon-locate.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/loc.png");
}
.icon-phone.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/tel.png");
}
.icon-mail.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/mail.png");
}
.icon-send.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/send.png");
}
.icon-film.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/genre2.png");
}
.icon-age-grey.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/age2.png");
}
.icon-time.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/time.png");
}
.icon-cinema.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/cinema2.png");
}
.icon-actors.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/actors.png");
}
.icon-directors.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/directors.png");
}
.icon-about-film.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/about_film.png");
}
.icon-comments.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/comments.png");
}
.icon-screens.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/screens.png");
}
.icon-trailer.icon-sm.icon.icon-before::before {
  background-image: url("/Content/asset/trailer.png");
}
.icon.icon-after::after {
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  content: "";
}
.icon-md.icon.icon-after::after {
  min-height: 60pt;
  width: 70px;
  margin-left: 15px;
}
.icon-timetable.icon-md.icon.icon-after::after {
  background-image: url('/Content/asset/timetable2.png');
}
.icon-favourite.icon-md.icon.icon-after::after {
  background-image: url('/Content/asset/favourite.png');
}
.icon-sm.icon.icon-after::after {
  min-width: 30px;
  min-height: 30px;
  margin-left: 3px;
  position: relative;
  top: -3px;
}
.icon-home.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/home.png");
}
.icon-timetable.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/timetable_small.png");
}
.icon-contact.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/contacts_small.png");
}
.icon-profile.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/account.png");
}
.icon-log-in.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/logout.png");
}
.icon-logout.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/logout.png");
}
.icon-genre.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/genre.png");
}
.icon-country.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/country.png");
}
.icon-age.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/age.png");
}
.icon-locate.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/loc.png");
}
.icon-phone.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/tel.png");
}
.icon-mail.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/mail.png");
}
.icon-send.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/send.png");
}
.icon-film.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/genre2.png");
}
.icon-age-grey.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/age2.png");
}
.icon-time.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/time.png");
}
.icon-cinema.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/cinema2.png");
}
.icon-actors.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/actors.png");
}
.icon-directors.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/directors.png");
}
.icon-about-film.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/about_film.png");
}
.icon-comments.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/comments.png");
}
.icon-screens.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/screens.png");
}
.icon-trailer.icon-sm.icon.icon-after::after {
  background-image: url("/Content/asset/trailer.png");
}
/* hr */
.hr-left::before,
.hr-left:after {
  background-position: left;
}
.hr-center::before,
.hr-center:after {
  background-position: center;
}
.hr-right::before,
.hr-right:after {
  background-position: right;
}
.hr-sm::before,
.hr-sm:after {
  margin: 15px 0;
}
.hr-md::before,
.hr-md:after {
  margin: 30px 0;
}
.hr-before::before {
  content: '';
  display: block;
  min-height: 1px;
  background-image: url('/Content/asset/line1.png');
  background-repeat: no-repeat;
}
.hr-after::after {
  content: '';
  display: block;
  min-height: 1px;
  background-image: url('/Content/asset/line1.png');
  background-repeat: no-repeat;
}
.hr-lg::before {
  font-family: monospace;
  color: rgba(255, 255, 255, 0.2);
  font-size: 18px;
  content: '\27e8\27e8  \27e9\27e9';
  font-weight: bold;
  position: absolute;
  left: 50%;
  -moz-transform: translate(-50%, 95px);
  -ms-transform: translate(-50%, 95px);
  -o-transform: translate(-50%, 95px);
  -webkit-transform: translate(-50%, 95px);
  transform: translate(-50%, 95px);
}
.hr-lg::after {
  content: '';
  display: block;
  height: 2px;
  width: 770px;
  margin: 65px auto;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 355px, transparent 355px, transparent 418px, rgba(255, 255, 255, 0.2) 418px, rgba(255, 255, 255, 0.2) 100%);
  background-repeat: no-repeat;
}