﻿h2 {
    font-size: 1.875rem;
    font-weight: 400;
}

.about {
    .about-film {
        height: 810px;
        position: relative;
        background-image: url('/Content/asset/fon7.jpg');
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;
        border-top: 2px solid rgba(255, 153, 51,0.5);
        border-bottom: 2px solid rgba(255, 153, 51,0.5);

        .bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 440px;
            width: 100%;
            background-image: -webkit-linear-gradient(bottom, #d5d5d5, rgba(213, 213, 213,0.3) 100%);
            border-top: 2px solid rgba(255, 153, 51,0.5);

            .description {
                padding-top: 45px;


                h1.title {
                    color: #4e3a21;
                    font-size: 4.375rem;
                    font-weight: 700;
                    line-height: 1; //0.275
                    text-align: left;
                    margin-top:0;
                    margin-bottom: 20px;
                }

                h3.rating {
                    margin: 0;
                    margin-bottom: 30px;

                    span {
                        display: inline-block;
                        padding: 5px 11px 14px 11px;
                        margin-right: 20px;
                        background-color: rgba(245, 245, 245, 0.5);
                        height: 38px;
                        color: #4e3a21;
                        font-size: 1.125rem;
                        font-weight: 400;
                        line-height: 1.667;
                        text-align: left;
                    }
                }

                .left {
                    width: 55%;
                    display: inline-block;
                    float: left;

                    span {
                        font-size: 1.125rem;
                        color: rgb(7, 124, 191);
                        text-align: center;
                    }
                }

                .right {
                    float: right;
                    width: 45%;
                    display: inline-block;
                    padding-left: 25px;

                    span.duration {
                        margin-left: 15px;
                        display: block;
                        width: 88px;
                        height: 88px;
                        font-size: 1.6875rem;
                        color: rgb(7, 124, 191);
                        font-weight: bold;
                        line-height: 0.741;
                        text-align: center;
                        border-radius: 50%;
                        padding-top: 25px;
                        border: 2px solid rgb(7,124,191);

                        small {
                            font-weight: normal;
                            font-size: 1.2rem;
                        }
                    }
                }

                .common-info {

                    &:after {
                        display: block;
                        content: '';
                        clear: both;
                    }
                }

                .actors-and-directors {
                    margin-top: 15px;
                    font-size: 1.125rem;
                    color: rgb(78, 58, 33);
                    line-height: 1.222;
                    text-align: left;

                    span {
                        color: rgb(78, 58, 33);
                    }

                    p {
                        margin-left: 35px;
                    }

                    &:after {
                        display: block;
                        content: '';
                        clear: both;
                    }
                }
            }

            .purchase {
                background-image: -webkit-linear-gradient(top, rgba(7, 124, 191,0.97), rgba(7, 124, 191,0.97) 100%), url('/Content/asset/pattern_white.png');
                -webkit-filter: saturate(1);
                position: relative;
                top: -12px;
                height: 462px;
                /*-ms-border-radius: 3px;*/
                padding: 33px 40px 43px 40px;
                box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);

                h2.purchase-ticket {
                    color: white;
                    line-height: 30px;
                    margin: 0;
                    margin-bottom: 30px;

                    &:before {
                        position: relative;
                        top: -5px;
                        width: 30px;
                        height: 30px;
                        margin-right: 15px;
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 30px;
                        content: '';
                        background: url('/Content/asset/buy.png') no-repeat center;
                    }
                }

                article {

                    .date {
                        display: inline-flex;
                        justify-content: space-between;
                        width: 100%;
                        margin-bottom: 23px;

                        .left-button, .right-button {
                            position: relative;
                            width: 10px;
                            height: 54px;
                            display: inline-block;
                            vertical-align: middle;
                            line-height: 30px;
                            content: '';
                            background: url('/Content/asset/arrows-right.svg') no-repeat center;
                            background-size: contain;
                            fill:rgb(255, 165, 0);

                            &:hover {
                                background: url('/Content/asset/arrows-right.svg') no-repeat center;
                                fill: white;
                                background-size: contain;
                            }
                        }

                        .left-button {
                            margin-left: 15px;
                            margin-right: 15px;
                            -moz-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }

                        .right-button {
                        }


                        span {
                            cursor: pointer;
                            display: inline-block;
                            /*width:40px;*/
                            font-size: 1.25rem;
                            color: rgba(255, 255, 255, 0.702);
                            font-weight: bold;
                            line-height: 1.125;
                            padding: 5px 10px;

                            small {
                                font-weight: normal;
                            }

                            &:hover {
                                border-radius: 3px;
                                background-color: rgba(12, 102, 154, 0.502);
                            }

                            &.active {
                                color: rgb(245, 155, 41);
                                border-radius: 3px;
                                background-color: rgba(12, 102, 154, 0.502);
                            }
                        }
                    }

                    .tab-timetable {

                        .cinemas {
                            display: inline-flex;
                            justify-content: space-between;
                            width: 100%;

                            & > span {
                                color: rgba(255, 255, 255, 0.702);
                                font-size: 1.25rem; /* Приближение из-за подстановки шрифтов */
                                font-weight: 700;
                                line-height: 0.9; /* Приближение из-за подстановки шрифтов */
                                text-align: left;
                                cursor: pointer;

                                &.active {
                                    color: #f59b29;

                                    &:after {
                                        display: block;
                                        content: '';
                                        width: 10px;
                                        height: 10px;
                                        background-image: -webkit-linear-gradient(right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 50%, transparent 50%, transparent 100%);
                                        position: relative;
                                        left: 50%;
                                        -moz-transform: translate(-50%, 10px) rotate(45deg);
                                        -ms-transform: translate(-50%, 10px) rotate(45deg);
                                        -o-transform: translate(-50%, 10px) rotate(45deg);
                                        -webkit-transform: rotate(45deg);
                                        transform: translate(-50%, 10px) rotate(45deg);
                                    }
                                }

                                &:first-child {
                                    margin-left: 25px;
                                }

                                &:last-child {
                                    margin-right: 25px;
                                }
                            }
                        }

                        .timeboard {
                            border-radius: 5px;
                            margin-top: 5px;
                            padding: 12px 20px 10px 15px;
                            background-color: rgba(12, 102, 154, 0.502);

                            .boards {
                                table {
                                    width: 100%;
                                    border-collapse: collapse;

                                    tr {
                                        height: 40px;
                                        border-top: 1px solid rgba(255, 255, 255, 0.1);
                                        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                                        &:first-child {
                                            border-top: none;
                                        }

                                        &:last-child {
                                            border-bottom: none;
                                        }

                                        td {
                                            color: #ffffff;
                                            font-size: 1.125rem; /* Приближение из-за подстановки шрифтов */
                                            font-weight: 700;
                                            text-align: center;
                                            padding: 0;

                                            time {
                                                opacity: 0.7;
                                                padding: 0 5px;

                                                &.active {
                                                    opacity: 1;
                                                    cursor: pointer;

                                                    &:hover {
                                                        border-radius: 3px;
                                                        background-color: #eb277a;
                                                    }
                                                }
                                            }

                                            &:first-child {
                                                opacity: 1;
                                                font-size: 0.875rem; /* Приближение из-за подстановки шрифтов */
                                                font-weight: 400;
                                                line-height: 1; /* Приближение из-за подстановки шрифтов */
                                                text-align: left;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                input[type="button"] {
                    border-radius: 5px;
                    background-color: #eb277a;
                    width: 178px;
                    height: 51px;
                    color: #ffffff;
                    font-size: 1rem; /* Приближение из-за подстановки шрифтов */
                    font-weight: 400;
                    line-height: 1.125; /* Приближение из-за подстановки шрифтов */
                    text-align: center;
                    margin-top: 30px;
                }

                @gradient-color: rgb(33, 88, 135);

                .left-top {
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 0;
                    left: -10px;
                    /*background-image: -webkit-linear-gradient(bottom right,@gradient-color, @gradient-color 50%, transparent 50%, transparent 100%);*/
                }

                .right-top {
                    width: 10px;
                    height: 10px;
                    top: 0;
                    right: -10px;
                    position: absolute;
                    /*background-image: -webkit-linear-gradient(bottom left, @gradient-color, @gradient-color 50%, transparent 50%, transparent 100%);*/
                }

                .left-bottom {
                    width: 10px;
                    height: 10px;
                    bottom: 0;
                    left: -10px;
                    position: absolute;
                    /*background-image: -webkit-linear-gradient(top right, @gradient-color,@gradient-color 50%, transparent 50%, transparent 100%);*/
                }

                .right-bottom {
                    width: 10px;
                    height: 10px;
                    right: -10px;
                    bottom: 0;
                    position: absolute;
                    /*background-image: -webkit-linear-gradient(top left, @gradient-color, @gradient-color 50%, transparent 50%, transparent 100%);*/
                }
            }
        }
    }

    .additional-info {
        color: #4e3a21;

        .container {
            background-image: -webkit-linear-gradient(right, #f5f5f5, #f5f5f5 41.7%, transparent 41.7%, transparent 100%);
        }

        .description {
            padding: 65px 50px 75px 0;

            h2 {
                margin: 5px 0;

                &:before {
                    margin-right: 10px;
                }

                &:first-child {
                    margin-top: 0;
                }

                &.h-trailer {
                    margin-top: 10px;
                    margin-bottom: 25px;
                }
            }

            p {
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.375;
                text-align: left;
                margin: 20px 0;
            }
        }

        .thumbnails {
            padding: 65px 0 75px;

            h2 {
                margin-top: 0;
                color: #4e3a21;

                &:before {
                    margin-right: 10px;
                }
            }
        }
    }
}

.reviews {
    .reviews-header {
        height: 164px;
        background-image: -webkit-linear-gradient(left, rgba(245, 245, 245, 0.7), rgba(245, 245, 245, 0.7) 100%), url('/Content/asset/fon7.jpg');
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;
        color: #4e3a21;
        padding-top: 68px;
        border-top: 2px solid rgba(255, 153, 51,0.5);
        border-bottom: 2px solid rgba(255, 153, 51,0.5);

        h2.h-comments {
            margin: 0;
            line-height: 0.6;

            &:before {
                margin-right: 10px;
            }
        }
    }

    .reviews-body {
        padding: 40px 0 100px;

        .review-card {
            position: relative;
            border-radius: 5px;
            background-color: rgba(255, 244, 230, 0.7);
            padding: 20px;

            header {
                time {
                    font-size: 0.75rem;
                    font-weight: 400;
                    line-height: 1.5;
                    text-align: left;
                    color: rgba(78, 58, 33,0.8);
                }

                span.username {
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.286;
                    text-align: left;
                }
            }

            article {
                h3 {
                    font-size: 1.25rem;
                    font-weight: 700;
                    line-height: 0.9;
                    text-align: left;
                    margin: 27px 0 16px;
                }

                p {
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.429;
                    text-align: left;
                    margin: 16px 0 20px;
                }

                input[type="button"] {
                    background: transparent;
                    color: rgba(249, 140, 3, 0.5);
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.286;
                    text-align: left;
                }
            }
        }
    }
}
