﻿h2 {
  font-size: 1.875rem;
  font-weight: 400;
}
.about .about-film {
  height: 810px;
  position: relative;
  background-image: url('/Content/asset/fon7.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 2px solid rgba(255, 153, 51, 0.5);
  border-bottom: 2px solid rgba(255, 153, 51, 0.5);
}
.about .about-film .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 440px;
  width: 100%;
  background-image: -webkit-linear-gradient(bottom, #d5d5d5, rgba(213, 213, 213, 0.3) 100%);
  border-top: 2px solid rgba(255, 153, 51, 0.5);
}
.about .about-film .bottom .description {
  padding-top: 45px;
}
.about .about-film .bottom .description h1.title {
  color: #4e3a21;
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
}
.about .about-film .bottom .description h3.rating {
  margin: 0;
  margin-bottom: 30px;
}
.about .about-film .bottom .description h3.rating span {
  display: inline-block;
  padding: 5px 11px 14px 11px;
  margin-right: 20px;
  background-color: rgba(245, 245, 245, 0.5);
  height: 38px;
  color: #4e3a21;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.667;
  text-align: left;
}
.about .about-film .bottom .description .left {
  width: 55%;
  display: inline-block;
  float: left;
}
.about .about-film .bottom .description .left span {
  font-size: 1.125rem;
  color: #077cbf;
  text-align: center;
}
.about .about-film .bottom .description .right {
  float: right;
  width: 45%;
  display: inline-block;
  padding-left: 25px;
}
.about .about-film .bottom .description .right span.duration {
  margin-left: 15px;
  display: block;
  width: 88px;
  height: 88px;
  font-size: 1.6875rem;
  color: #077cbf;
  font-weight: bold;
  line-height: 0.741;
  text-align: center;
  border-radius: 50%;
  padding-top: 25px;
  border: 2px solid #077cbf;
}
.about .about-film .bottom .description .right span.duration small {
  font-weight: normal;
  font-size: 1.2rem;
}
.about .about-film .bottom .description .common-info:after {
  display: block;
  content: '';
  clear: both;
}
.about .about-film .bottom .description .actors-and-directors {
  margin-top: 15px;
  font-size: 1.125rem;
  color: #4e3a21;
  line-height: 1.222;
  text-align: left;
}
.about .about-film .bottom .description .actors-and-directors span {
  color: #4e3a21;
}
.about .about-film .bottom .description .actors-and-directors p {
  margin-left: 35px;
}
.about .about-film .bottom .description .actors-and-directors:after {
  display: block;
  content: '';
  clear: both;
}
.about .about-film .bottom .purchase {
  background-image: -webkit-linear-gradient(top, rgba(7, 124, 191, 0.97), rgba(7, 124, 191, 0.97) 100%), url('/Content/asset/pattern_white.png');
  -webkit-filter: saturate(1);
  position: relative;
  top: -12px;
  height: 462px;
  /*-ms-border-radius: 3px;*/
  padding: 33px 40px 43px 40px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}
.about .about-film .bottom .purchase h2.purchase-ticket {
  color: white;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;
}
.about .about-film .bottom .purchase h2.purchase-ticket:before {
  position: relative;
  top: -5px;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  content: '';
  background: url('/Content/asset/buy.png') no-repeat center;
}
.about .about-film .bottom .purchase article .date {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 23px;
}
.about .about-film .bottom .purchase article .date .left-button,
.about .about-film .bottom .purchase article .date .right-button {
  position: relative;
  width: 10px;
  height: 54px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  content: '';
  background: url('/Content/asset/arrows-right.svg') no-repeat center;
  background-size: contain;
  fill: #ffa500;
}
.about .about-film .bottom .purchase article .date .left-button:hover,
.about .about-film .bottom .purchase article .date .right-button:hover {
  background: url('/Content/asset/arrows-right.svg') no-repeat center;
  fill: white;
  background-size: contain;
}
.about .about-film .bottom .purchase article .date .left-button {
  margin-left: 15px;
  margin-right: 15px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.about .about-film .bottom .purchase article .date span {
  cursor: pointer;
  display: inline-block;
  /*width:40px;*/
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.702);
  font-weight: bold;
  line-height: 1.125;
  padding: 5px 10px;
}
.about .about-film .bottom .purchase article .date span small {
  font-weight: normal;
}
.about .about-film .bottom .purchase article .date span:hover {
  border-radius: 3px;
  background-color: rgba(12, 102, 154, 0.502);
}
.about .about-film .bottom .purchase article .date span.active {
  color: #f59b29;
  border-radius: 3px;
  background-color: rgba(12, 102, 154, 0.502);
}
.about .about-film .bottom .purchase article .tab-timetable .cinemas {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.about .about-film .bottom .purchase article .tab-timetable .cinemas > span {
  color: rgba(255, 255, 255, 0.702);
  font-size: 1.25rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 0.9;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  cursor: pointer;
}
.about .about-film .bottom .purchase article .tab-timetable .cinemas > span.active {
  color: #f59b29;
}
.about .about-film .bottom .purchase article .tab-timetable .cinemas > span.active:after {
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  background-image: -webkit-linear-gradient(right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 50%, transparent 50%, transparent 100%);
  position: relative;
  left: 50%;
  -moz-transform: translate(-50%, 10px) rotate(45deg);
  -ms-transform: translate(-50%, 10px) rotate(45deg);
  -o-transform: translate(-50%, 10px) rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: translate(-50%, 10px) rotate(45deg);
}
.about .about-film .bottom .purchase article .tab-timetable .cinemas > span:first-child {
  margin-left: 25px;
}
.about .about-film .bottom .purchase article .tab-timetable .cinemas > span:last-child {
  margin-right: 25px;
}
.about .about-film .bottom .purchase article .tab-timetable .timeboard {
  border-radius: 5px;
  margin-top: 5px;
  padding: 12px 20px 10px 15px;
  background-color: rgba(12, 102, 154, 0.502);
}
.about .about-film .bottom .purchase article .tab-timetable .timeboard .boards table {
  width: 100%;
  border-collapse: collapse;
}
.about .about-film .bottom .purchase article .tab-timetable .timeboard .boards table tr {
  height: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.about .about-film .bottom .purchase article .tab-timetable .timeboard .boards table tr:first-child {
  border-top: none;
}
.about .about-film .bottom .purchase article .tab-timetable .timeboard .boards table tr:last-child {
  border-bottom: none;
}
.about .about-film .bottom .purchase article .tab-timetable .timeboard .boards table tr td {
  color: #ffffff;
  font-size: 1.125rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
  padding: 0;
}
.about .about-film .bottom .purchase article .tab-timetable .timeboard .boards table tr td time {
  opacity: 0.7;
  padding: 0 5px;
}
.about .about-film .bottom .purchase article .tab-timetable .timeboard .boards table tr td time.active {
  opacity: 1;
  cursor: pointer;
}
.about .about-film .bottom .purchase article .tab-timetable .timeboard .boards table tr td time.active:hover {
  border-radius: 3px;
  background-color: #eb277a;
}
.about .about-film .bottom .purchase article .tab-timetable .timeboard .boards table tr td:first-child {
  opacity: 1;
  font-size: 0.875rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.about .about-film .bottom .purchase input[type="button"] {
  border-radius: 5px;
  background-color: #eb277a;
  width: 178px;
  height: 51px;
  color: #ffffff;
  font-size: 1rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.125;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  margin-top: 30px;
}
.about .about-film .bottom .purchase .left-top {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: -10px;
  /*background-image: -webkit-linear-gradient(bottom right,@gradient-color, @gradient-color 50%, transparent 50%, transparent 100%);*/
}
.about .about-film .bottom .purchase .right-top {
  width: 10px;
  height: 10px;
  top: 0;
  right: -10px;
  position: absolute;
  /*background-image: -webkit-linear-gradient(bottom left, @gradient-color, @gradient-color 50%, transparent 50%, transparent 100%);*/
}
.about .about-film .bottom .purchase .left-bottom {
  width: 10px;
  height: 10px;
  bottom: 0;
  left: -10px;
  position: absolute;
  /*background-image: -webkit-linear-gradient(top right, @gradient-color,@gradient-color 50%, transparent 50%, transparent 100%);*/
}
.about .about-film .bottom .purchase .right-bottom {
  width: 10px;
  height: 10px;
  right: -10px;
  bottom: 0;
  position: absolute;
  /*background-image: -webkit-linear-gradient(top left, @gradient-color, @gradient-color 50%, transparent 50%, transparent 100%);*/
}
.about .additional-info {
  color: #4e3a21;
}
.about .additional-info .container {
  background-image: -webkit-linear-gradient(right, #f5f5f5, #f5f5f5 41.7%, transparent 41.7%, transparent 100%);
}
.about .additional-info .description {
  padding: 65px 50px 75px 0;
}
.about .additional-info .description h2 {
  margin: 5px 0;
}
.about .additional-info .description h2:before {
  margin-right: 10px;
}
.about .additional-info .description h2:first-child {
  margin-top: 0;
}
.about .additional-info .description h2.h-trailer {
  margin-top: 10px;
  margin-bottom: 25px;
}
.about .additional-info .description p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375;
  text-align: left;
  margin: 20px 0;
}
.about .additional-info .thumbnails {
  padding: 65px 0 75px;
}
.about .additional-info .thumbnails h2 {
  margin-top: 0;
  color: #4e3a21;
}
.about .additional-info .thumbnails h2:before {
  margin-right: 10px;
}
.reviews .reviews-header {
  height: 164px;
  background-image: -webkit-linear-gradient(left, rgba(245, 245, 245, 0.7), rgba(245, 245, 245, 0.7) 100%), url('/Content/asset/fon7.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #4e3a21;
  padding-top: 68px;
  border-top: 2px solid rgba(255, 153, 51, 0.5);
  border-bottom: 2px solid rgba(255, 153, 51, 0.5);
}
.reviews .reviews-header h2.h-comments {
  margin: 0;
  line-height: 0.6;
}
.reviews .reviews-header h2.h-comments:before {
  margin-right: 10px;
}
.reviews .reviews-body {
  padding: 40px 0 100px;
}
.reviews .reviews-body .review-card {
  position: relative;
  border-radius: 5px;
  background-color: rgba(255, 244, 230, 0.7);
  padding: 20px;
}
.reviews .reviews-body .review-card header time {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: rgba(78, 58, 33, 0.8);
}
.reviews .reviews-body .review-card header span.username {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.286;
  text-align: left;
}
.reviews .reviews-body .review-card article h3 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 0.9;
  text-align: left;
  margin: 27px 0 16px;
}
.reviews .reviews-body .review-card article p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.429;
  text-align: left;
  margin: 16px 0 20px;
}
.reviews .reviews-body .review-card article input[type="button"] {
  background: transparent;
  color: rgba(249, 140, 3, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.286;
  text-align: left;
}