.container {
    padding: 0;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding: 0 10px 0;
}

/* main-slider */
@import "less/main-slider.less";
/* ad */
@import "less/ad.less";
/* timetable */
@import "less/timetable.less";
/* recommended */
@import "less/recommended.less";
/* feedback */
@import "less/feedback.less";
/* questions */
@import "less/questions.less";
/* film-card */
/*@import "film-card.less";*/