﻿.container {
  padding: 0;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  padding: 0 10px 0;
}
/* main-slider */
.main-slider {
  height: 726px;
  background-image: url('/Content/asset/fon1.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main-slider .slider {
  position: absolute;
  width: 100%;
  height: 363px;
  bottom: 0;
  background-image: -webkit-linear-gradient(bottom, #000000, rgba(0, 0, 0, 0.3) 100%);
}
.main-slider .slider .col-md-2 {
  height: 363px;
  padding-top: 143px;
}
.main-slider .slider .col-md-2 .slider-button {
  border-radius: 50%;
  display: block;
  width: 70px;
  height: 70px;
  background: url('/Content/asset/left_slider.png') no-repeat center;
}
.main-slider .slider .col-md-2 .slider-button.right {
  float: right;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border: 2px solid white;
}
.main-slider .slider .col-md-8 {
  height: 363px;
}
.main-slider .slider .col-md-8 span.title {
  position: relative;
  top: -10px;
  color: #ffffff;
  font-size: 5rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 0.225;
  /* Приближение из-за подстановки шрифтов */
}
.main-slider .slider .col-md-8 p.description {
  color: #ffffff;
  font-size: 1.25rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.5;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  opacity: 0.8;
  margin: 20px 0 47px;
}
.main-slider .slider .col-md-8 .other {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 43px;
}
.main-slider .slider .col-md-8 .other span {
  color: #077cbf;
  font-size: 1rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.875;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}
.main-slider .slider .col-md-8 a.button {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #a8157d;
  background-color: #a8157d;
  width: 176px;
  height: 49px;
  color: #ffffff;
  font-size: 1rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: center;
  line-height: 49px;
  text-decoration: none;
  margin: 0 auto;
}
.main-slider .slider .col-md-8 a.button:hover {
  text-decoration: none;
}
/* ad */
.ad {
  min-height: 645px;
  padding-top: 100px;
  color: #4e3a21;
}
.ad .thumbnail {
  border: 0;
  background-color: transparent;
}
.ad .thumbnail .caption {
  padding: 0;
  text-align: center;
}
.ad .thumbnail .caption .h2 {
  margin: 30px auto;
  font-size: 1.875rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 0.6;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}
.ad .thumbnail .caption p {
  margin: 30px auto;
  font-size: 1rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.375;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}
.ad .thumbnail .caption p a.btn.btn-primary {
  height: 45px;
  width: 125px;
  background-color: #DEDEDE;
  opacity: 0.5;
  line-height: 45px;
  border: none;
  padding: 0;
  color: #4e3a21;
  font-size: 1rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: center;
}
/* timetable */
.timetable .header-timetable {
  position: relative;
  min-height: 360px;
  background-image: url('/Content/asset/fon2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
.timetable .header-timetable > .container {
  position: relative;
  min-height: 360px;
}
.timetable .header-timetable > .container .ironman {
  min-height: 415px;
  width: 480px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url('/Content/asset/ironman.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.timetable .header-timetable > .header {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  min-height: 240px;
  z-index: 100;
  padding-top: 80px;
}
.timetable .header-timetable > .header .title {
  padding: 0;
  vertical-align: middle;
  display: inline-block;
}
.timetable .header-timetable > .header .title h1 {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  color: white;
  margin: 0;
  font-size: 2.5rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}
.timetable .header-timetable > .filter {
  left: 0;
  bottom: 0;
  position: absolute;
  min-height: 120px;
  width: 100%;
  background-color: rgba(234, 160, 65, 0.8);
  z-index: 100;
  padding-top: 30px;
}
.timetable .header-timetable > .filter .dropdown {
  width: 240px;
  display: inline-block;
  color: rgba(64, 64, 64, 0.5);
  font-size: 1rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 1.875;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.timetable .header-timetable > .filter .dropdown input[type="checkbox"] {
  display: none;
}
.timetable .header-timetable > .filter .dropdown input[type="checkbox"]:checked ~ ul {
  display: block;
}
.timetable .header-timetable > .filter .dropdown .btn-dropdown {
  display: block;
  height: 55px;
  background-color: rgba(224, 224, 224, 0.8);
  padding: 0;
  line-height: 55px;
  border-radius: 5px;
}
.timetable .header-timetable > .filter .dropdown .dropdown-menu {
  width: 100%;
  background-color: rgba(224, 224, 224, 0.9);
  border-color: #E2D2BF;
}
.timetable .header-timetable > .filter .dropdown .dropdown-menu li {
  background-color: transparent;
}
.timetable .body-timetable {
  padding: 40px 0 77px;
}
.timetable .body-timetable .film-cards {
  display: inline-flex;
  /*justify-content: space-between;*/
  flex-grow: 1;
  width: 100%;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.timetable .body-timetable .film-cards .col-md-3 {
  margin-bottom: 23px;
}
.timetable .body-timetable .film-cards .col-md-3 .film-card {
  border: 1px #F0F0F0 solid;
  border-radius: 5px;
  padding: 20px 20px 27px;
  background-size: contain;
  background-position: center top, center top;
  background-repeat: no-repeat, no-repeat;
  /*background-image: linear-gradient(top, rgba(240,240,240,0.2), rgba(240,240,240,0.3) 140px, rgba(240,240,240,0.99) 300px, #f0f0f0 100%);*/
}
.timetable .body-timetable .film-cards .col-md-3 .film-card:hover {
  background-image: -webkit-linear-gradient(top, transparent, rgba(240, 240, 240, 0.3) 140px, rgba(240, 240, 240, 0.99) 300px, #f0f0f0 100%);
}
.timetable .body-timetable .film-cards .col-md-3 .film-card header {
  min-height: 285px;
  position: relative;
}
.timetable .body-timetable .film-cards .col-md-3 .film-card header h3 {
  position: absolute;
  bottom: 0;
  color: #4E3A21;
}
.timetable .body-timetable .film-cards .col-md-3 .film-card article {
  font-size: 14px;
}
.timetable .body-timetable .film-cards .col-md-3 .film-card article span {
  color: #077CBF;
}
.timetable .body-timetable .film-cards .col-md-3 .film-card article .schedule h4 {
  color: #4E3A21;
}
.timetable .body-timetable .film-cards .col-md-3 .film-card article .schedule .time {
  width: 100%;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.timetable .body-timetable .film-cards .col-md-3 .film-card article .schedule .time span {
  color: #807260;
  margin-right: 13px;
}
.timetable .body-timetable .film-cards .col-md-3 .film-card a.button {
  display: inline-block;
  margin-top: 20px;
  background-color: #A8157D;
  line-height: 30px;
  width: 95px;
  height: 30px;
  color: white;
  padding-left: 20px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}
.timetable .body-timetable .film-cards .col-md-3 .film-card a.button:hover {
  text-decoration: none;
}
/* recommended */
.recommended .header-recommended {
  position: relative;
  min-height: 240px;
  background-image: url('/Content/asset/fon3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*span {
            position: relative;
            vertical-align: middle;
            width: 400px;
            line-height: 40px;
            font-size: 40px;
            color: white;
            margin: 0;
        }*/
}
.recommended .header-recommended > .container {
  position: relative;
  padding-top: 80px;
  min-height: 240px;
}
.recommended .header-recommended > .container .darth {
  min-height: 300px;
  width: 280px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url('/Content/asset/darth.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.recommended .header-recommended > .container > .header {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  min-height: 240px;
  z-index: 100;
  padding-top: 80px;
}
.recommended .header-recommended > .container > .header .title {
  padding: 0;
  vertical-align: middle;
  display: inline-block;
}
.recommended .header-recommended > .container > .header .title h1 {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  line-height: 50px;
  color: white;
  margin: 0;
  font-size: 2.5rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}
.recommended .body-recommended {
  padding: 40px 0 77px;
}
.recommended .body-recommended .film-cards .col-md-3 {
  margin-bottom: 23px;
}
/* feedback */
.feedback {
  background-image: url('/Content/asset/fon4.jpg');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 640px;
  color: #ffffff;
  padding: 60px 0;
  position: relative;
}
.feedback .header-feedback .h1 {
  margin: 30px auto;
  font-weight: bold;
}
.feedback .header-feedback p {
  margin: 30px auto;
}
.feedback .feedbacks {
  /*width: 770px;*/
  margin: 65px auto 0;
  overflow: hidden;
  position: relative;
}
.feedback .feedbacks input[type="radio"] {
  display: none;
}
.feedback .feedbacks .items {
  white-space: nowrap;
  position: relative;
  -moz-transition: all ease-in 3s;
  -o-transition: all ease-in 3s;
  -webkit-transition: all ease-in 3s;
  transition: all ease-in-out 600ms;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  width: 100%;
}
.feedback .feedbacks .items .item {
  display: inline-block;
  /*width: 720px;*/
  width: 100%;
  white-space: normal;
  /*margin: 0 25px;*/
}
.feedback .feedbacks .items .item p {
  font-size: 1.5em;
  width: 720px;
  margin: 0 auto;
}
.feedback .feedbacks .items .item p::before,
.feedback .feedbacks .items .item p::after {
  font-size: 0.5em;
  vertical-align: middle;
  quotes: '\27e8\27e8' '\27e9\27e9';
}
.feedback .feedbacks .items .item p::before {
  content: open-quote;
}
.feedback .feedbacks .items .item p::after {
  content: close-quote;
}
.feedback .feedbacks .items .item .name {
  font-size: 1.25em;
  margin: 65px 0 20px;
}
.feedback .feedbacks .items .item .details {
  opacity: 0.75;
  margin: 20px 0 60px;
}
.feedback .feedbacks #feedback_1:checked ~ .items {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.feedback .feedbacks #feedback_2:checked ~ .items {
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  /*transform: translateX(-770px);*/
}
.feedback .feedbacks #feedback_3:checked ~ .items {
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
  /*transform: translateX(-1540px);*/
}
.feedback .feedbacks label {
  margin: 0 5px;
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.75;
}
.feedback .feedbacks #feedback_1:checked ~ label[for="feedback_1"],
.feedback .feedbacks #feedback_2:checked ~ label[for="feedback_2"],
.feedback .feedbacks #feedback_3:checked ~ label[for="feedback_3"] {
  background-color: #F59B29;
}
/* questions */
.questions {
  background-image: url('/Content/asset/fon5.jpg');
  background-position: right bottom;
  background-size: cover;
  background-repeat: repeat-x;
  min-height: 740px;
  padding: 60px 0 48px;
  color: #ffffff;
}
.questions .question-block .header-question {
  width: 770px;
  margin: 0 auto;
}
.questions .question-block .header-question h1 {
  font-weight: bold;
  margin: 25px 0;
}
.questions .question-block .header-question p {
  color: rgba(248, 224, 194, 0.9);
  margin: 25px 0;
}
.questions .question-block .contact {
  color: rgba(248, 224, 194, 0.9);
  font-size: 1.5em;
  margin: 25px 0 60px;
  padding: 35px 0;
  width: 100%;
  border-top: 2px solid rgba(248, 224, 194, 0.9);
  border-bottom: 2px solid rgba(248, 224, 194, 0.9);
  display: flex;
  justify-content: space-between;
}
.questions .question-block .question-form fieldset {
  height: 150px;
  margin-bottom: 30px;
}
.questions .question-block .question-form fieldset .col-md-6 {
  padding: 0;
}
.questions .question-block .question-form fieldset .col-md-6:first-child {
  padding-right: 25px;
}
.questions .question-block .question-form fieldset .col-md-6:last-child {
  padding-left: 25px;
}
.questions .question-block .question-form fieldset .col-md-6 input[type="text"] {
  background-color: rgba(248, 224, 194, 0.9);
  height: 55px;
  border-radius: 5px;
  width: 100%;
  padding: 20px 25px;
  font-size: 1.25em;
}
.questions .question-block .question-form fieldset .col-md-6 input[type="text"]:first-child {
  margin-bottom: 38px;
}
.questions .question-block .question-form fieldset .col-md-6 textarea {
  background-color: rgba(248, 224, 194, 0.9);
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  border-radius: 5px;
  padding: 20px 25px;
  font-size: 1.25em;
}
.questions .question-block .question-form .button {
  display: inline-block;
  height: 55px;
  width: 280px;
  background-color: #077CBF;
  border-radius: 5px;
  font-size: 1.25em;
  color: #ffffff;
  cursor: pointer;
}
.questions .question-block .question-form .button a {
  line-height: 55px;
  width: 100%;
  color: #ffffff;
}
.questions .question-block .question-form .button a:active {
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5) inset;
}
.questions .question-block .question-form .button a:hover {
  color: #ffffff;
  text-decoration: none;
}
/* film-card */
/*@import "film-card.less";*/